@charset "UTF-8";
@import "_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  background: #000;
  font: 17px/1.4 "orbitron";
  letter-spacing: 1px;
  color: #ddd;
}

.wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  //자식 요소 3D가 제대로 표현되려면 부모에 강제로 원근감을 지정한다
  perspective: 1300px; //원근감 주기
  position: relative;

  // >를 지정하면 부모의 직계자식만 해당된다 wrap의 직계자식인 video
  > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
  }
  #circle {
    width: 600px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -400px;

    article {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      display: none;
      //공통 UI 시작
      .inner {
        width: 100%;
        height: 100%;

        > div {
          width: 100%;
          height: 100%;
          border: 1px solid rgba(255, 255, 255, 0.5);
          background: rgba(255, 255, 255, 0.4);
          box-sizing: border-box;
          padding: 50px;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          opacity: 0.7;
          transition: 0.5s;

          &:hover {
            opacity: 1;
            transform: scale(1.03);
          }
        }
      }
      //공통 UI 끝

      //첫 번째 article
      &.face1 {
        .inner {
          div {
            width: 290px;
            height: 255px;
            float: left;
            margin-bottom: 20px;
            text-align: center;

            i {
              color: lightcyan;
              font-size: 100px;
              opacity: 0.7;
              transition: 0.5s;
            }

            h2 {
              color: lightcyan;
              margin-top: 20px;
              letter-spacing: 2px;
              transition: 0.5s;
            }

            &:hover {
              i {
                text-shadow: 0px 0px 10px aqua;
                transform: scale(1.2);
                opacity: 1;
              }

              h2 {
                text-shadow: 0px 0px 10px aqua;
                transform: scale(1.2);
              }
            }

            &:nth-of-type(odd) {
              margin-right: 20px;
            }
          }
        }
      }

      //두 번쨰 Article
      &.face2 {
        display: block;

        .inner {
          div {
            h2 {
              font: bold 24px/1 "Orbitron";
              color: lightcyan;
              transition: 0.5s;
            }

            img {
              width: 100%;
              margin-top: 30px;
              margin-bottom: 40px;
            }

            h3 {
              font: bold 24px/1 "Orbitron";
              color: lightcyan;
              margin-bottom: 10px;
              transition: 0.5;
            }

            p {
              font: 18px/1.3 "arial";
              color: #ccc;
            }

            &:hover {
              h2,
              h3 {
                color: lightcyan;
                text-shadow: 0px 0px 10px aqua;
              }
            }
          }
        }
      }
    }
  }
}
