@charset "UTF-8";
@import "_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    background: #000;
    font: 17px/1.4 "orbitron";
    letter-spacing: 1px;
    color: #ddd;
}

.wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    //자식 요소 3D가 제대로 표현되려면 부모에 강제로 원근감을 지정한다
    perspective: 1300px; //원근감 주기
    position: relative;

    // >를 지정하면 부모의 직계자식만 해당된다 wrap의 직계자식인 video
    > video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0.5;
    }

    #circle {
        width: 600px;
        height: 800px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -300px;
        margin-top: -400px;

        article {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            display: none;

            &:nth-of-type(1) {
                display: block;
            }

            .inner {
                width: 100%;
                height: 100%;

                > div {
                    width: 100%;
                    height: 100%;
                    border: 1px solid rgba(255, 255, 255,.5);
                    background: rgba(255, 255, 255,.4);
                    box-sizing: border-box;
                    padding: 50px;
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    opacity: 0.7;
                    transition: 0.5s;

                    &:hover {
                        opacity: 1;
                        transform: scale(1.03);
                    }
                }
            }
        }
    }
}